body {
    background-color: #C21510;
}

#container {
    background-color: #536a20;
    width: 950px;
    margin: 20px auto;
    border: 5px solid #19C2A1;
    padding: 20px;
    border-radius: 20px;
}

header {
    Color: #441e00;
    text-align: center;
    padding: 35px;
}

header h1 {
    color: #3EC210;
    font-size: 30px;
}

nav {
    text-align: center;
    border-top: 5px solid red;
    border-bottom: 5px solid red;
    padding: 15px 0;
}

nav a {
    color: #21F5B8;
    font-size: 30px;
    margin: 0 20px;
}

nav a:hover {
    color:#D0F540
}

main {
    margin: 20px auto;
    border: 5px solid #19C2A1;
    padding: 20px;
    border-radius: 20px; 
}

main h2 {
    color: #F5A740;
    text-align: center;
}

main img {
    display: block;
    margin: 20px auto;
    width: 500px;
}

footer {
    padding: 40px;
    text-align: center;
    border-top: 5px solid #0122F5;
}

main h3 {
    color:#F5A740;
    text-align: center;
}